/* Здравствуйте, Nikita Zhmaev. Огомное спасибо за проделанную кропотливую работу и отдельное спасибо за комменты. 
Всё исправил, скорее всего не всё правильно, но я честно стараюсь :)
Надеюсь, что мой код не заставвляет Вас плакать и/или плеваться в монитор*/
header {
  padding-top: 96px;
  margin-bottom: 97px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  padding-left: 50px;
  padding-right: 50px;
}
.link-active {
  text-decoration: none;
}
a { /* использовал тег как класс, т.к. в документе необходимо заменить стандартное подчеркивание на более толстое и ниже букв во всех ссылках */
  text-decoration: none; 
}

.header-nav {
  display: flex;
  list-style: circle;
}

.header-nav-home {
  list-style: none;
}

.header-nav-lots {
  margin-left: 33px;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 192px;
  margin-right: 5px;
  line-height: 1.35;
}

.inline-elements {
  display: inline;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 0px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.logo-black {
  width: 138px;
  height: 105px;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: auto;
  color: white;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-right: 18px;
}

.cover-title {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 6.25rem;
  padding-top: 165px;
  padding-left: 50px;
}

.aligned-text-center {
  display: block;
  text-align: center;
  margin-top: 18px;
}

.aligned-text-right {
  display: block;
  text-align: end;
  margin-top: 17px;
}

.cover-botom-title {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;
  padding-left: 50px;
  padding-right: 32px;
  word-spacing: 21.6px;
  text-transform: uppercase;
  font-size: 1.327rem;
}

.cover-button {
  all: unset;
  background: none;
  border: 2px solid #000;
  border-color: white;
  padding: 10px 33px;
  margin-top: -10px;
  cursor: pointer;
  word-spacing: 0px;
}

.lots {
  padding: 180px 24px 0 24px;
  width: 100%;
  margin-bottom: 90px;
  text-decoration: none;
}

.lots-title {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.card-lots {
  padding-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  gap: 25px;
  background-blend-mode: overlay;
  color: white;
  text-transform: uppercase;
  background-color: #f0f0f0;
  flex-basis: 334px;
}

.card-lots-movie {
  height: 596px;
  background-image: url("../images/card-lot-01.jpg");
}

.card-lots-book {
  height: 596px;
  background-image: url("../images/card-lot-02.jpg");
}

.card-lots-picture {
  height: 596px;
  background-image: url("../images/card-lot-03.jpg");
}

.card-background {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 48px 40px;
  background-size: 170%;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
}

.card-lots-top {
  align-self: start;
  font-weight: 700;
  font-size: 1.375rem;
  text-decoration: underline;
  text-decoration-style: solid;
  align-items: start;
}

.card-lots-bottom {
  align-self: end;
  text-transform: none;
  font-size: 1.25rem;
  
}

.lots-footer {
  font-size: 1.25rem;
  margin-left: 40px;
  margin-bottom: 30px;
}

.magin-card-lots-bottom{
  margin-bottom: 30px;
}

.about {
  padding-left: 24px;
  padding-right: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3 1fr);
  row-gap: 11px;
  text-align: start;
  justify-items: start;
  justify-self: start;
  }

.circle-logo {
  margin-left: 47px;
  margin-top: 65px;
  margin-bottom: -11px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 73px;
}

.about_logo {
  max-width: 62%;
}

.about-title {
  margin-top: 165px;
  width: 100%;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  grid-column: 3 / 3;
  
}

.about-text {
  padding-top: 10px;
  font-size: 20px;
  grid-column: 3 / 3;
}

footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3 1fr);
  padding-top: 181px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.125rem;
}

.adress-footer {
  font-style: normal;
  line-height: 1.35;
}

.footer-informations {
  padding-right: 23px;
  padding-top: 1px;
  justify-content: center;
  justify-items: center;
  margin-bottom: 115px;
  margin-right: 120px;
  margin-left: 50px;
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media-logo {
  width: 48px;
  height: 48px;
}
/* Огромное спасибо за Вашу работу! Вы - очень крутой. 
Я работаю учителем и на собственно шкуре знаю и понимаю каково это работать с малознающими людьми */