header {
  padding-top: 96px;
  margin-bottom: 97px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 45px;
  padding-right: 50px;
  /* column-gap: 100px; */
}

a {
  text-decoration: none; 
}

.header-nav {
  display: flex;
  text-align: center;
  gap: 35px;
  list-style: circle;
  padding-left: 4px;
}

.link {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 0px;
  padding-left: 0px;
  white-space: nowrap;
  justify-self: start;
}

.link-active {
  padding-left: 0;
  text-decoration: none;
  list-style: none;
  border-bottom: none;
}

.address {
  font-style: normal;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 192px;
  margin-right: 5px; */
  line-height: 24.3px;
}
.address-header {
  padding-left: 195px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.logo-black {
  width: 138px;
  height: 105px;
  /* margin-right: 250px; */
}

.cover {
  background-image: url("../images/cover.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: auto;
  color: white;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-right: 18px;
}

.cover-title {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 100px;
  padding-top: 165px;
  padding-left: 50px;
}

.aligned-text-center {
  display: block;
  text-align: center;
  margin-top: 18px;
}

.aligned-text-right {
  display: block;
  text-align: end;
  margin-top: 18px;
}

.cover-botom-title {
  display: flex;
  justify-content: space-between;
  padding-top: 113px;
  padding-left: 50px;
  padding-right: 32px;
  word-spacing: 19px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
}

.cover-button {
  all: unset;
  background: none;
  border: 2px solid #000;
  border-color: white;
  padding: 10px 33px;
  margin-top: -10px;
  cursor: pointer;
  word-spacing: 0px;
}

.lots {
  padding: 190px 24px 120px 24px;
  width: 100%;
}

.lots-title {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 37px;
  line-height: 26.4px;
}

.card-lots {
  display: flex;
  gap: 25px;
  background-blend-mode: overlay;
  color: white;
  text-transform: uppercase;
  flex-basis: 334px;
  min-height: auto;
  padding-bottom: 28px;
}

.card-articale {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-lots-top {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-style: solid;
  margin-bottom: 35px;
  line-height: 26.4px;
  }

.card-lots-bottom {
  text-transform: none;
  font-size: 20px;
  position: relative;
  align-items: end;
  align-self: end;
  line-height: 24px;
}

.card-background {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px 40px 48px 40px;
  background-size: 170%;
  background-position: center;
  background-repeat: no-repeat;
}

.card-lots-movie {
  background-image: url("../images/card-lot-01.jpg");
}

.card-lots-book {
 background-image: url("../images/card-lot-02.jpg");
}

.card-lots-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots-footer {
  font-size: 20px;
  margin-left: 40px;
  margin-bottom: 30px;
}

/* .magin-card-lots-bottom {
  margin-bottom: 30px;
} */

.about {
  padding-left: 24px;
  padding-right: 26px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 1fr 1fr; */
  row-gap: 20px;
}

.circle-logo {
  margin-left: 47px;
  margin-top: 35px;
  /* margin-bottom: -17px; */
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 73px;
}

.about_logo {
  max-width: 62%;
}

.about-title {
  margin-top: 141px;
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 83px;
  grid-column: 2 / 4;
}

.about-box {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  row-gap: 28px;
  font-size: 20px;
  line-height: 24px;
  grid-column: 2 / span 2;
}

footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 178px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
}

/* .adress-footer {
  font-style: normal;
  line-height: 1.35;
} */

.footer-informations {
  padding-top: 1px;
  justify-content: center;
  justify-items: center;
}

.footer-social-media {
  margin-left: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media-logo {
  width: 48px;
  height: 48px;
}
